<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="My` Own Bookcase">
      <meta name="author" content="VoleyBob">

      <link rel="icon" href="{{ asset('img/favicon.ico') }}"> 
  <!-- <link rel="icon" href="../../../../favicon.ico">   
      <link rel="icon" href="<?php echo $view['assets']->getUrl('bootstrap/favicon.ico'); ?>" type="image/x-icon">
      <link rel="icon" href="bootstrap/favicon.ico">
      <link rel="icon" href="{{ asset('bootstrap/favicon.ico') }}"> 
  -->

      <title>
          {% block title %}
            My Own Bookcase
          {% endblock %}    
      </title>

      <!-- Bootstrap core CSS -->
      <!--<link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
      <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />

      <!-- Custom styles for this template -->

      <link href="{{ asset('css/style.css') }}" rel="stylesheet" />

      <!-- <link href="jumbotron.css" rel="stylesheet"> -->
      <!-- <link href="navbar-fixed-top.css" rel="stylesheet"> -->
      <!-- <link href="bootstrap-full-width-slider.css" rel="stylesheet"> -->
      <!-- <link href="{{ asset('bootstrap/css/bootstrap-full-width-slider.css') }}" rel="stylesheet" /> -->


      <!-- STYLES -->
      <!-- <link href="../assets/css/bootstrap.css" rel="stylesheet"> -->
      <!-- <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet"> -->

      <!-- <link href="css/full-slider.css" rel="stylesheet"> -->
      <!-- <link href="{{ asset('css/full-slider.css') }}" rel="stylesheet" /> -->

    <style>
    </style>
  </head>

  <body>

   <!-- ===========================  NAVBAR  =========================== -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top m-0 px-5">
      <a class="navbar-brand" href="/">
        <img src="{{ asset('img/logo.png') }}" style="width:15%; padding-right:6px;">My Own Library</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- <ul class="navbar-nav mr-auto"> -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/about">About
              <span class="sr-only">(current)</span>
            </a>
          </li>
    
          <!-- 
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> 
          -->
    
          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Books
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/new/book">Add Book</a>
              <a class="dropdown-item" href="/books">List books from bookcase</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bookcase
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/new/bookcase">Add Bookcase</a>
                <a class="dropdown-item" href="/bookcase">My Bookcases</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Log
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/login">Login</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/register/">Register</a>
              <a class="dropdown-item" href="/profile/edit">Profile</a>
              <a class="dropdown-item" href="/profile/change-password">Change password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
    
          <!--  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li> 
          -->
    
        </ul>
    
        <form class="form-inline my-2 my-lg-0" action="/books/search">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    
      </div>
    </nav>
  
<!--   
    #myDIV {
      width: 200px;
      height: 300px;
      background-size: 200px 200px;
      background-repeat: no-repeat;
      background-image: linear-gradient(to right,blue 0%,red 100%),url('w3css.gif');
      background-blend-mode:luminosity;
  } 
    <main role="main" style="background-image: url('img/supernova.jpg'); background-blend-mode: lighten; background-color: rgba(50, 0, 50, 0.3);">
    <main role="main" class="container-fluid" style="background-color: rgba(40, 0, 50, 0.3);">
-->

    <main role="main" class="container-fluid m-0 p-0">

        <!-- <div class="container-fluid"> -->
                
          <h1>
            {% block header %}
              Hello, bookers!
            {% endblock %}    
          </h1>

          {% block body %}
            This is a template for a simple marketing or informational website. 
            It includes a large callout called a jumbotron and three supporting pieces of content. 
            Use it as a starting point to create something more unique.
          {% endblock %}    

        <!-- </div> -->

    </main>


    <footer class="container-fluid">
      <!-- <hr> -->
      <p>&copy; ZBOOK.IT 2018</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

    <!-- <script src="../../../../assets/js/vendor/popper.min.js"></script> -->
    <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js ') }}"></script>

    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->  
    <script src="{{ asset('bootstrap/js/ie10-viewport-bug-workaround.js') }}"></script>

  </body>
</html>
